{%  set current_route = app.request.attributes.get('_route') %}
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
            <use href="{{ bi }}#bootstrap"></use>
        </svg>
        <span class="fs-4">Sidebar</span> </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            {% set isActive = current_route == 'admin_dashboard' %}
            <a href="{{ path('admin_dashboard') }}" class="nav-link {{ isActive ? 'active' : 'link-body-emphasis' }}" {% if isActive %}aria-current="page"{% endif %}>
                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                    <use href="{{ bi }}#speedometer2"></use>
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            {% set isActive = current_route starts with 'admin_article_' %}
            <a href="{{ path('admin_article_index') }}" class="nav-link {{ isActive ? 'active' : 'link-body-emphasis' }}" {% if isActive %}aria-current="page"{% endif %}>
                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                    <use href="{{ bi }}#table"></use>
                </svg>
                Articles
            </a>
        </li>
        <li>
            {% set isActive = current_route starts with 'admin_category_' %}
            <a href="{{ path('admin_category_index') }}" class="nav-link {{ isActive ? 'active' : 'link-body-emphasis' }}" {% if isActive %}aria-current="page"{% endif %}>
                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                    <use href="{{ bi }}#grid"></use>
                </svg>
                Catégories
            </a>
        </li>
        <li>
            {% set isActive = current_route starts with 'admin_tag_' %}
            <a href="{{ path('admin_tag_index') }}" class="nav-link {{ isActive ? 'active' : 'link-body-emphasis' }}" {% if isActive %}aria-current="page"{% endif %}>
                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                    <use href="{{ bi }}#tags-fill"></use>
                </svg>
                Tags
            </a>
        </li>
        <li>
            {% set isActive = current_route starts with 'admin_user_' %}
            <a href="{{ path('admin_user_index') }}" class="nav-link {{ isActive ? 'active' : 'link-body-emphasis' }}" {% if isActive %}aria-current="page"{% endif %}>
                <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                    <use href="{{ bi }}#people-fill"></use>
                </svg>
                Utilisateurs
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#"
           class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false"
        >
            <img src="{{ asset('image/portrait.png') }}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ app.user.username }}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" style="">
            <li><a href="{{ path('author_index') }}" class="dropdown-item">Mon profil</a></li>
            <li><a href="{{ path('author_index') }}" class="dropdown-item">Mes articles</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <form method="post" action="{{ path('app_logout') }}" class="dropdown-item">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</div>
